{% block stylesheets %}

    <link href="{{ asset('css/tdcp.css') }}" rel="stylesheet">

    {% include 'CineSearchTdcpBundle:Accueil:css.html.twig' %}
{% endblock %}{% block menu %}{% include 'CineSearchTdcpBundle:Accueil:menu.html.twig' %}{% endblock %}
{% block body %}<h1 class="text-center"><a href="{{ path('index') }}">Movie Search</a></h1>
<div class="frontal-cine">
<div class="caption-frontal">
  <table style="width: 100%;height: 100%">
    <tr>
      <td style="text-align: center; ">
        <div class="nom-acteur nom-cine"><span class="ht">Cinéma</span> <h2>Espace Culturel - Les Prairiales</h2>
        </div>
      </td>
    </tr>
    <div class="meta-front">avenue-de-la-prairie- BP60079, 28230 &Eacute;pernon -  &Eacute;pernon</div>
  </table>
</div>
<img src="http://www.cinefil.com/img/cine.jpg" alt="film1">
</div>
<div class="container-fluid corps-de-page">
  <div class="modal fade" id="single-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <p class="modal-title" id="myModalLabel"></p>
        </div>
        <div class="modal-body" id="my-video-modal">
        </div>
      </div>
    </div>
  </div>
  <div class="takemargintopextra">
    <h2 class="seances h2-cinema-page adjust-shedule-height">Films projetés</h2>
    <div class="subtitles"> <div class="underline col-md-2"></div></div><br class="perte-mobil">
    <div id="resultats-vil" class="resultats-ville">
      <ul>
        <li itemscope itemtype="http://schema.org/ScreeningEvent">
          <span id="premiers-crus-NL" class="NL-scroll"></span>
          <div id="unefichefilm" class="nouvel-interface premiers-crus" >
            <meta itemprop="name" content="Premiers crus">
            <div itemprop="location" itemscope itemtype="http://schema.org/MovieTheater"/>
            <meta itemprop="name" content="Espace Culturel - Les Prairiales">
            <meta itemprop="screenCount" content="1"/>
            <meta itemprop="address" content="avenue-de-la-prairie- BP60079, 28230 &Eacute;pernon - &Eacute;pernon"/>
          </div>
          <div class="fiche-film" itemprop="workPresented" itemscope itemtype="http://schema.org/Movie">
            <div class="img-film">
                <img itemprop="image" src="http://images.cinefil.com/movies/1048308_112x170.jpg" />
            </div>
            <div class="fiche-infos">
              <h3 itemprop="name">Premiers crus</h3>
              <meta itemprop="datePublished" content="2015-09-23"/>
              <div class="note">
                  <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                   <meta itemprop="ratingValue" content="2.5"/>
                   <meta itemprop="ratingCount" content="2"/>
                   <meta itemprop="reviewCount" content="2"/>
                   <meta itemprop="bestRating" content="5"/>
                   <meta itemprop="worstRating" content="1"/>
                 </div>
                 <i class="glyphicon glyphicon-star"></i>
                 <i class="glyphicon glyphicon-star"></i>
                 <i class="glyphicon glyphicon-star"></i>
                 <i class="glyphicon glyphicon-star-empty"></i>
                 <i class="glyphicon glyphicon-star-empty"></i>
               <meta itemprop="duration" content="PT97M"/>
               <div class="separateur">|</div><div class="duree"> 1h37min</div>
             </div><br>
             <div class="realisateur" >(<span itemprop="genre">Drame</span>) de <p itemprop="director" itemscope itemtype="http://schema.org/Person"><meta itemprop="url" content="http://www.cinefil.com/star/jerome-le-maire"><span itemprop="name">Jerome Le Maire</span></p></div>
             <div class="bande-annonce" itemprop="trailer" itemscope itemtype="http://schema.org/VideoObject">
              <button type="button" class="bande-annonce modal-trigger" data-toggle="modal" data-video={"video_id":9686,"video_url":"vid_55e43d1e86eb9","video_mymetype":"video\/mp4","video_poster":"http:\/\/images.cinefil.com\/movies\/1048450_570x300.jpg","video_descurl":"http%3A%2F%2Fwww.cinefil.com%2Ffilm%2Fpremiers-crus"}>
                <meta itemprop="thumbnailUrl" content="http://images.cinefil.com/movies/1048450_570x300.jpg"/>
                <meta itemprop="name" content="Premiers crus"/>
                <meta itemprop="description" content="Bande annonce - VF"/>
                <meta itemprop="uploadDate" content="2015-08-31 13:40:14"/>
                Bande-Annonce
              </button>
            </div>
            <div class="Synopsis-infos" itemprop="description">
              <p>Fils de viticulteur, <i>Charlie Maréchal</i> a quitté la Bourgogne pour devenir un œnologue parisien réputé, auteur d’un guide à succès dont les notes font chaque année trembler tous les vignobles.Mais en Côte-d’Or, son père a perdu le goût du vin et ses errements précipitent l’exploitation viticole familiale vers la faillite.&nbsp;</p><p>D’abord réticent, <i>Charlie</i> revient en Bourgogne. Il doit rechausser ses bottes et remonter ses manches, devenir viticulteur et se confronter à un métier qu’il ne connait pas, sous le regard dubitatif de son père.Entre une météo capricieuse et un cépage délicat, <i>Charlie</i> va devoir prouver à son père qu’il est digne de ce terroir transmis de génération en génération dans leur famille.Il est facile de noter un vin, mais comment fait-on un grand vin ?</p>
            </div>
          </div>
        </div>
        <div class="horaires">
          <div class="position-nav btn-toolbar jours-seances mojofire" role="toolbar" aria-label="...">
            <div class="btn-group nav-tabs boutons-programmation boutons-programmation-toggle" id="selection-jour" role="group" aria-label="...">
             <button  id="2015-10-281" href="#12015-10-28"type="button" role="group" data-parent=".resultats-ville" data-day="Mercredi" class="btn dayselector btn-default Mercredi"><span class="perte-mobil">Mercredi</span><span class="perte-desktop">Mer.</span><br>28</button> <button  id="2015-10-291" href="#12015-10-29"type="button" role="group" data-parent=".resultats-ville" data-day="Jeudi" class="btn dayselector btn-default Jeudi"><span class="perte-mobil">Jeudi</span><span class="perte-desktop">Jeu.</span><br>29</button> <button  id="2015-10-301" href="#12015-10-30"type="button" role="group" data-parent=".resultats-ville" data-day="Vendredi" class="btn dayselector btn-default Vendredi"><span class="perte-mobil">Vendredi</span><span class="perte-desktop">Ven.</span><br>30</button> <button  id="2015-10-311" href="#12015-10-31"type="button" role="group" data-parent=".resultats-ville" data-day="Samedi" class="btn dayselector btn-default Samedi"><span class="perte-mobil">Samedi</span><span class="perte-desktop">Sam.</span><br>31</button> <button  id="2015-11-011" href="#12015-11-01"type="button" role="group" data-parent=".resultats-ville" data-day="Dimanche" class="btn dayselector btn-default Dimanche"><span class="perte-mobil">Dimanche</span><span class="perte-desktop">Dim.</span><br>01</button> <button  id="2015-11-021" href="#12015-11-02"type="button" role="group" data-parent=".resultats-ville" data-day="Lundi" class="btn dayselector btn-default Lundi"><span class="perte-mobil">Lundi</span><span class="perte-desktop">Lun.</span><br>02</button> <button  id="2015-11-031" href="#12015-11-03"type="button" role="group" data-parent=".resultats-ville" data-day="Mardi" class="btn dayselector btn-default Mardi"><span class="perte-mobil">Mardi</span><span class="perte-desktop">Mar.</span><br>03</button>        </div>
           </div>
           <div class="tab-content position-nav">
            <div role="tabpanel" class="tab-pane fade lesseances Mercredi"  id=12015-10-28 >
             <meta itemprop="startDate" content="2015-10-28 17:00"/>
             <button type="button" class="btn btn-default premier"><div class="h4">17:00</div><div class="underline"></div><div class"langue"> VF</div></button>
           </div>
           <div role="tabpanel" class="tab-pane fade lesseances Jeudi"  id=12015-10-29 >
            <button type="button" class="btn btn-default premier nohover"><div class"langue">Aucune <br> séance</div></button>
          </div>
          <div role="tabpanel" class="tab-pane fade lesseances Vendredi"  id=12015-10-30 >
           <meta itemprop="startDate" content="2015-10-30 14:00"/>
           <button type="button" class="btn btn-default premier"><div class="h4">14:00</div><div class="underline"></div><div class"langue"> VF</div></button>
           <meta itemprop="startDate" content="2015-10-30 20:00"/>
           <button type="button" class="btn btn-default"><div class="h4">20:00</div><div class="underline"></div><div class"langue"> VF</div></button>
         </div>
         <div role="tabpanel" class="tab-pane fade lesseances Samedi"  id=12015-10-31 >
          <button type="button" class="btn btn-default premier nohover"><div class"langue">Aucune <br> séance</div></button>
        </div>
        <div role="tabpanel" class="tab-pane fade lesseances Dimanche"  id=12015-11-01 >
          <button type="button" class="btn btn-default premier nohover"><div class"langue">Aucune <br> séance</div></button>
        </div>
        <div role="tabpanel" class="tab-pane fade lesseances Lundi"  id=12015-11-02 >
          <button type="button" class="btn btn-default premier nohover"><div class"langue">Aucune <br> séance</div></button>
        </div>
        <div role="tabpanel" class="tab-pane fade lesseances Mardi"  id=12015-11-03 >
          <button type="button" class="btn btn-default premier nohover"><div class"langue">Aucune <br> séance</div></button>
        </div>
      </div>
    </div>
  </li>
  <li itemscope itemtype="http://schema.org/ScreeningEvent">
    <span id="hotel-transylvanie-2-NL" class="NL-scroll"></span>
    <div id="unefichefilm" class="nouvel-interface hotel-transylvanie-2" >
      <meta itemprop="name" content="Hotel Transylvanie 2">
      <div itemprop="location" itemscope itemtype="http://schema.org/MovieTheater"/>
      <meta itemprop="name" content="Espace Culturel - Les Prairiales">
      <meta itemprop="screenCount" content="1"/>
      <meta itemprop="address" content="avenue-de-la-prairie- BP60079, 28230 &Eacute;pernon - &Eacute;pernon"/>
    </div>
    <div class="fiche-film" itemprop="workPresented" itemscope itemtype="http://schema.org/Movie">
      <div class="img-film">
          <img itemprop="image" src="http://images.cinefil.com/movies/1048593_112x170.jpg" />
      </div>
      <div class="fiche-infos">
        <h3 itemprop="name">Hotel Transylvanie 2</h3>
        <meta itemprop="datePublished" content="2015-10-07"/>
        <div class="note">
            <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
             <meta itemprop="ratingValue" content="3"/>
             <meta itemprop="ratingCount" content="2"/>
             <meta itemprop="reviewCount" content="2"/>
             <meta itemprop="bestRating" content="5"/>
             <meta itemprop="worstRating" content="1"/>
           </div>
           <i class="glyphicon glyphicon-star"></i>
           <i class="glyphicon glyphicon-star"></i>
           <i class="glyphicon glyphicon-star"></i>
           <i class="glyphicon glyphicon-star-empty"></i>
           <i class="glyphicon glyphicon-star-empty"></i>
         <meta itemprop="duration" content="PT89M"/>
         <div class="separateur">|</div><div class="duree"> 1h29min</div>
       </div><br>
       <div class="realisateur" >(<span itemprop="genre">Film d&#039;animation</span>) de <p itemprop="director" itemscope itemtype="http://schema.org/Person"><meta itemprop="url" content="http://www.cinefil.com/star/genndy-tartakovsky"><span itemprop="name">Genndy Tartakovsky</span></p></div>
       <div class="bande-annonce" itemprop="trailer" itemscope itemtype="http://schema.org/VideoObject">
        <button type="button" class="bande-annonce modal-trigger" data-toggle="modal" data-video={"video_id":9902,"video_url":"vid_560ece5702004","video_mymetype":"video\/mp4","video_poster":"http:\/\/images.cinefil.com\/movies\/1048594_570x300.jpg","video_descurl":"http%3A%2F%2Fwww.cinefil.com%2Ffilm%2Fhotel-transylvanie-2"}>
          <meta itemprop="thumbnailUrl" content="http://images.cinefil.com/movies/1048594_570x300.jpg"/>
          <meta itemprop="name" content="Hotel Transylvanie 2"/>
          <meta itemprop="description" content="Bande annonce finale  - VF"/>
          <meta itemprop="uploadDate" content="2015-10-02 20:35:03"/>
          Bande-Annonce
        </button>
      </div>
      <div class="Synopsis-infos" itemprop="description">
      <p><i>Dracula</i> et sa bande de monstres déjantés sont de retour ! À l’hôtel Transylvanie, beaucoup de choses ont évolué : <i>Dracula</i> a enfin accepté de dégeler son cœur et d’ouvrir la porte aux humains. Mais il se fait du souci pour son petit-fils, <i>Dennis</i> : mi-humain mi-monstre, ce gamin est bien trop adorable à son goût, et il risque de faire un piètre vampire !&nbsp;</p><p>Alors, quand les parents du petit, <i>Mavis</i> et <i>Johnny</i>, s’absentent, <i>Drac</i> fait appel à ses amis <i>Frank</i>, <i>Murray</i>, <i>Wayne</i> et <i>Griffin</i> pour apprendre à <i>Dennis</i> à devenir un monstre, un vrai. Personne ne s’attendait à ce que <i>Vlad</i>, le père de <i>Drac</i> – un vampire très grincheux et très vieille école – choisisse ce moment pour débarquer à l’hôtel. Et quand il découvre que son arrière-petit-fils a du sang humain, rien ne va plus…</p>
      </div>
    </div>
  </div>
  <div class="horaires">
    <div class="position-nav btn-toolbar jours-seances mojofire" role="toolbar" aria-label="...">
      <div class="btn-group nav-tabs perte-mobil boutons-programmation" role="group" aria-label="...">
       <button  id="2015-10-282" href="#22015-10-28"type="button" role="group" data-parent=".resultats-ville" data-day="Mercredi" class="btn dayselector btn-default Mercredi"><span class="perte-mobil">Mercredi</span><span class="perte-desktop">Mer.</span><br>28</button> <button  id="2015-10-292" href="#22015-10-29"type="button" role="group" data-parent=".resultats-ville" data-day="Jeudi" class="btn dayselector btn-default Jeudi"><span class="perte-mobil">Jeudi</span><span class="perte-desktop">Jeu.</span><br>29</button> <button  id="2015-10-302" href="#22015-10-30"type="button" role="group" data-parent=".resultats-ville" data-day="Vendredi" class="btn dayselector btn-default Vendredi"><span class="perte-mobil">Vendredi</span><span class="perte-desktop">Ven.</span><br>30</button> <button  id="2015-10-312" href="#22015-10-31"type="button" role="group" data-parent=".resultats-ville" data-day="Samedi" class="btn dayselector btn-default Samedi"><span class="perte-mobil">Samedi</span><span class="perte-desktop">Sam.</span><br>31</button> <button  id="2015-11-012" href="#22015-11-01"type="button" role="group" data-parent=".resultats-ville" data-day="Dimanche" class="btn dayselector btn-default Dimanche"><span class="perte-mobil">Dimanche</span><span class="perte-desktop">Dim.</span><br>01</button> <button  id="2015-11-022" href="#22015-11-02"type="button" role="group" data-parent=".resultats-ville" data-day="Lundi" class="btn dayselector btn-default Lundi"><span class="perte-mobil">Lundi</span><span class="perte-desktop">Lun.</span><br>02</button> <button  id="2015-11-032" href="#22015-11-03"type="button" role="group" data-parent=".resultats-ville" data-day="Mardi" class="btn dayselector btn-default Mardi"><span class="perte-mobil">Mardi</span><span class="perte-desktop">Mar.</span><br>03</button>        </div>
     </div>
     <div class="tab-content position-nav">
      <div role="tabpanel" class="tab-pane fade lesseances Mercredi"  id=22015-10-28 >
       <meta itemprop="startDate" content="2015-10-28 14:00"/>
       <button type="button" class="disabled btn btn-default premier"><div class="h4">14:00</div><div class="underline"></div><div class"langue">VF</div></button>
       <meta itemprop="startDate" content="2015-10-28 20:00"/>
       <button type="button" class="btn btn-default"><div class="h4">20:00</div><div class="underline"></div><div class"langue">VF</div></button>
     </div>
     <div role="tabpanel" class="tab-pane fade lesseances Jeudi"  id=22015-10-29 >
      <button type="button" class="btn btn-default premier nohover"><div class"langue">Aucune <br> séance</div></button>
    </div>
    <div role="tabpanel" class="tab-pane fade lesseances Vendredi"  id=22015-10-30 >
     <meta itemprop="startDate" content="2015-10-30 17:00"/>
     <button type="button" class="btn btn-default premier"><div class="h4">17:00</div><div class="underline"></div><div class"langue">VF</div></button>
   </div>
   <div role="tabpanel" class="tab-pane fade lesseances Samedi"  id=22015-10-31 >
    <button type="button" class="btn btn-default premier nohover"><div class"langue">Aucune <br> séance</div></button>
  </div>
  <div role="tabpanel" class="tab-pane fade lesseances Dimanche"  id=22015-11-01 >
    <button type="button" class="btn btn-default premier nohover"><div class"langue">Aucune <br> séance</div></button>
  </div>
  <div role="tabpanel" class="tab-pane fade lesseances Lundi"  id=22015-11-02 >
    <button type="button" class="btn btn-default premier nohover"><div class"langue">Aucune <br> séance</div></button>
  </div>
  <div role="tabpanel" class="tab-pane fade lesseances Mardi"  id=22015-11-03 >
    <button type="button" class="btn btn-default premier nohover"><div class"langue">Aucune <br> séance</div></button>
  </div>
</div>
</div>
</li>
</ul>
</div>
</div>
<div class="BApic takemargintopextra perte-mobil">
  <h2 class="seances h2-cinema-page">Cinémas à proximité</h2>
  <div class="subtitles"> <div class="underline col-md-2"></div></div><br>
  <div class="cine-proxi">
    <ul>
      <li><a href="http://www.cinefil.com/seances-cinema/epernon-28"> <span class="cinetown"> Cinémas à </span> &Eacute;pernon</a></li>
    </ul>
  </div>
  <h3 class="seances">s'y rendre</h3>
  <div class="subtitles"><div class="underline col-md-2"></div></div><br>
  <br>
  <!--<div id="map-canvas"></div>-->
  <div class="syrendre"></div>
  <div id="Accesfix" class="PubEtAcces">
    <div class="carrep">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- CINEFIL Page programmation F -->
      <ins class="adsbygoogle"
      style="display:inline-block;width:300px;height:250px"
      data-ad-client="ca-pub-3185443153209947"
      data-ad-slot="7094246735"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
    <div class="acces-rapide">
      <h3 class="seances ">Accès rapide aux films</h3>
      <div class="subtitles"><div class="underline col-md-2"></div></div><br>
      <br>
      <ul>
        <li id="premiers-crus">
          <span>Premiers crus</span>
        </li>
        <li id="hotel-transylvanie-2">
          <span>Hotel Transylvanie 2</span>
        </li>
      </ul>
    </div>
  </div>
</div>
<script src="http://www.cinefil.com/js/jquery-2.1.4.js"></script>
<script type="text/javascript">
  $('#NLsub').hide();
  $(document).ready(function(){
    $('#NLsub').removeClass('perte-desktop');
    $('#NLsub').removeClass('perte-mobil');
    $(window).one("scroll",function () {
      $(location).attr('href');
      var pathname = window.location.href;
      var shownl = function(){
       $('#NLsub').toggleClass('NLdown')
     };

     if (pathname.indexOf("NL") >= 0){}
      else{
        $('#NLsub').delay( 1500 ).show(0);
        setTimeout(shownl, 2000);
      };

    });
    $("#NLsuscribe").submit(function(e) {
      e.preventDefault();
      $('#NLsubmit').hide();
    });

    $('.closeNL').click(function(e){
      $('.Newsletterdude').hide();
    })})

  var today =new Date();
  var dd = today.getDate();
  var mm = today.getMonth()+1;
  var top_level_div = document.getElementById('resultats-vil');
  var count = top_level_div.getElementsByTagName('li').length;
  var yyyy = today.getFullYear();
  if(dd<10){
    dd='0'+dd
  }
  if(mm<10){
    mm='0'+mm
  }
  var today = yyyy+'-'+mm+'-'+dd;
  for (i = 1; i <= count ; i++) {
    var d = document.getElementById(today+i);
    var donglet = document.getElementById(i+today);
    d.className = d.className + " active ";
    donglet.className = donglet.className + " active in";
  }
</script>
</div>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<div class="scrollTopButton"><span class="glyphicon glyphicon-upload"></span></div>

<script src="http://www.cinefil.com/js/jquery-2.1.4.js"></script>
<script src="http://www.cinefil.com/js/jquery.autocomplete.min.js"></script>
<script src="http://www.cinefil.com/js/jquery.mobile.custom.js"></script>
<script src="http://www.cinefil.com/js/bootstrap.js"></script>
<script src="http://www.cinefil.com/js/jsinput.js"></script>
<script src="http://www.cinefil.com/js/main.js?version=1.5"></script>
<script src="http://www.cinefil.com/js/video.js"></script>

<!-- VideoAds -->
<script src="//imasdk.googleapis.com/js/sdkloader/ima3.js"></script>
<script src="http://www.cinefil.com/js/videojs.ads.js"></script>
<script src="http://www.cinefil.com/js/videojs.ima.js"></script>
<script src="http://www.cinefil.com/js/ads.js"></script>
<script src="http://www.cinefil.com/js/videojs.ga.min.js"></script>{% include 'CineSearchTdcpBundle:Accueil:js.html.twig' %}{% endblock %}